**/node_modules
**/.next
**/.turbo
**/.envio
.dev
.env
.env.*
!.env.example
packages/contracts/out
packages/contracts/cache
packages/contracts/broadcast
packages/contracts/dependencies
**/test-results
**/playwright-report
**/*.log
