node_modules
pnpm-lock.yaml
.next
dist
out
coverage
packages/contracts/out
packages/contracts/cache
packages/contracts/broadcast
packages/contracts/dependencies
packages/sdk/src/generated
apps/indexer/generated
*.md
.turbo
.dev
apps/indexer/.envio
apps/indexer/config.yaml
packages/sdk/abi-json
packages/sdk/test/vectors
packages/contracts/deployments
test-results
playwright-report
apps/web/next-env.d.ts
